MuJava_HOME=C:\Users\mmari\Projs-2024\BTH\WeightApp__july24\WeightCategories\weightcats_new\app\MuJava
src_dir=C:\Users\mmari\Projs-2024\BTH\WeightApp__july24\WeightCategories\weightcats_new\app\src\main\java
class_dir=C:\Users\mmari\Projs-2024\BTH\WeightApp__july24\WeightCategories\weightcats_new\app\bin\org\example
result_dir=C:\Users\mmari\Projs-2024\BTH\WeightApp__july24\WeightCategories\weightcats_new\app\MuJava\result
